@media screen {
  body {
    background-color: #1f2241;
  }
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  color: white;
  font-family: sans-serif;
  row-gap: 10px;
}