.desc-div{
    margin-top: 30px;
}

.search-bar{
    height:25px;
    border-radius:6px;
    border-width:0.4em;
    border-style: solid;
    box-shadow: 0 0px 15px 10px #393e79;
    border:none;
    outline: none;
}